<section class="bg-main-light p-4 rounded-3 w-50 mx-auto my-3 shadow">
    <form [formGroup]="CheckOut" (ngSubmit)="HandlForm()">
        <div>
            <label for="details"> Details </label>
            <textarea id="details" class="form-control" formControlName="details"></textarea>
        </div>

        <div>
            <label for="phone"> Phone </label>
            <input type="tel" id="phone" class="form-control" formControlName="phone">
        </div>

        <div>
            <label for="city"> City </label>
            <input type="text" id="city" class="form-control" formControlName="city">
        </div>
        <button class="btn-main mt-3">CheckOut</button>
    </form>
</section>